* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

body {
  background-color: rgba(14, 173, 173, 0.293);
  padding: 100px 0;
}

.ota {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  padding: 30px;
  
}

.ota div {
  width: 350px;
}
